{% load i18n %}

<div class="scormxblock_block">
    <center>
        <small>{% trans 'Use LMS for fully functional preview' %}</small>
    </center>

    {% if scorm_file_path %}
    <div class="js-scorm-block">
        <iframe class="scorm_object"
                src="{{ scorm_file_path }}"
                width="{% if scorm_xblock.width %}{{ scorm_xblock.width }}{% else %}100%{% endif %}"
                height="{{ scorm_xblock.height }}"
        ></iframe>
    </div>
    {% endif %}
</div>
